body {
  padding: 50px 0;
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  -o-user-select: none; 
  user-select: none;
}
textarea { resize: none; }
@media (max-width: 767px) { nav .container-fluid { padding: 0; } }
#content > .col-sm-3 {
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 0 20px;
  overflow-x: hidden;
  overflow-y: auto; 
  background-color: #f8f8f8;
}
#content > .col-sm-3 > .nav > li { white-space: nowrap; }
#content > .col-sm-3 > .nav { margin: 0 -20px 20px; }
#content > .col-sm-3 > .nav > li > a {
  color: #777;
  padding: 10px 20px;
}
#content > .col-sm-3 > .nav > .active > a,
#content > .col-sm-3 > .nav > .active > a:hover,
#content > .col-sm-3 > .nav > .active > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
.navbar-fixed-bottom { padding-top: 8px; }
#content > .col-sm-9 { padding: 20px; }
#search .form-group { margin-bottom: 0px; }
#search input { margin-top: 8px; width: 150px; }
#nav { margin-top: 5px; }
#nav .navbar-brand { height: auto; }
.t0 { display: none; }
.twig { position: absolute; top: 5px; right: 5px; }
#work textarea:empty { display: none; }
