html { touch-action: manipulation; }
body {
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  -o-user-select: none; 
  user-select: none;
  padding: 50px 0;
  position: relative;
}
textarea { resize: none; }
.col-sm-3 .t-0 .btn-danger, .col-sm-3 .t-0 .btn-success { display: none; }
.col-sm-3 .s-2 a, .col-sm-3 .s-2 a i.s { text-decoration: line-through!important; }
.col-sm-3 .btn-info { margin-right: 1em; }
.col-sm-3 .btn-danger, .col-sm-3 .btn-success { position:absolute;  right:1em; }
.col-sm-9 { padding: 10px; position:fixed; right:0; background-color: #fff; } 
.navbar-right { margin-top: 5px; } 
.navbar-right .navbar-brand { height: auto; } 
.navbar-fixed-bottom { padding-top: 8px; } 
.col-sm-3 > .nav { margin: 0 -15px ; } 
