body {
  overflow: hidden;
  padding-top: 50px;
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  -o-user-select: none; 
  user-select: none;
}
textarea { resize: none; }
@media (min-width: 768px) {
  #content > .col-sm-3 {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 0 20px;
    overflow-x: hidden;
    overflow-y: auto; 
    background-color: #f8f8f8;
  }
}
#content > .col-sm-3 > .nav { margin: 0 -20px 20px; }
#content > .col-sm-3 > .nav > li > a {
  color: #777;
  padding: 10px 20px;
}
#content > .col-sm-3 > .nav > .active > a,
#content > .col-sm-3 > .nav > .active > a:hover,
#content > .col-sm-3 > .nav > .active > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
#content > .col-sm-9 { padding: 20px; }
#search { margin-top: 8px; }
#search .form-group { margin-bottom: 0px; }
#search input { width: 250px; }
.0 { display: none; }
.twig { margin-top: -4px; }
